{% extends "main/iedc.html" %}
{% load static %}
{% block content %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				
					<header id="header">
					<a href="{% url 'iedc' %} "><h1>IEDC-JECC</h1></a>
						<h1>{{ events.Event_name }}</h1>
						
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
								<span class="image main"><img src="{{ events.Event_photo.url }}" alt="" /></span>
								<h2>{{ events.Event_name }}</h2>
								<p>{{ events.Event_short_Desc }}</p>
								
								<p>{{ events.Event_Description }}</p>
								<ul class="features">
											<li><a href="{{ events.Event_Register_Link }}" class="button primary"><b>Register Now</b></a></li>
										</ul>
							</section>


							<section id="second" class="main special">
							<div class="spotlight">
									<div class="content">

							<header class="major" id="header">
						<h1><b>Event Gallery</h1>
						</div>
						</div>
						
					</header>
							

							<div class="box alt">
											<div class="row gtr-uniform">
												<!-- for loop start here -->
												{% if events.photos.all %}
                                                 
                                               
                                                  {% for photo in events.photos.all %}
                                                   <div class="col-4"><span class="image fit"><a href="{% url 'event_image' photo.id %}" ><img src="{{ photo.photo.url }}" alt="" /></a></span></div>
                                                  {% endfor %}
                                                    
                                                        {% endif %}
												{% comment %} <div class="col-4"><span class="image fit"><img src="{{ iedcinfo.Photo_2.url }}" alt="" /></span></div>
												
												{% if iedcinfo.Photo_3 %}
												<div class="col-4"><span class="image fit"><img src="{{ iedcinfo.Photo_3.url }}" alt="" /></span></div>
												{% endif %}
												{% if iedcinfo.Photo_4 %}
												<div class="col-4"><span class="image fit"><img src="{{ iedcinfo.Photo_4.url }}" alt="" /></span></div>
												{% endif %}
												{% if iedcinfo.Photo_5 %}
												<div class="col-4"><span class="image fit"><img src="{{ iedcinfo.Photo_5.url }}" alt="" /></span></div>
												{% endif %}
												{% if iedcinfo.Photo_6 %}
												<div class="col-4"><span class="image fit"><img src="{{ iedcinfo.Photo_6.url }}" alt="" /></span></div>
												{% endif %}
												{% if iedcinfo.Photo_7 %}
												<div class="col-4"><span class="image fit"><img src="{{ iedcinfo.Photo_7.url }}" alt="" /></span></div>
												{% endif %}
												{% if iedcinfo.Photo_8 %}
												<div class="col-4"><span class="image fit"><img src="{{ iedcinfo.Photo_8.url }}" alt="" /></span></div>
												{% endif %}
												{% if iedcinfo.Photo_9 %}
												<div class="col-4"><span class="image fit"><img src="{{ iedcinfo.Photo_9.url }}" alt="" /></span></div>
												{% endif %}
												{% if iedcinfo.Photo_10 %}
												<div class="col-4"><span class="image fit"><img src="{{ iedcinfo.Photo_10.url }}" alt="" /></span></div>
												{% endif %}
												{% if iedcinfo.Photo_11 %}
												<div class="col-4"><span class="image fit"><img src="{{ iedcinfo.Photo_11.url }}" alt="" /></span></div>
												{% endif %}
												{% if iedcinfo.Photo_12 %}
												<div class="col-4"><span class="image fit"><img src="{{ iedcinfo.Photo_12.url }}" alt="" /></span></div>
												{% endif %} {% endcomment %}
											</div>
										</div>

											<section id="second" class="main special">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<a href="{% url 'iedc' %}" class="button "><b>Home</b></a>
											
										</header>
									</div>
								</div>
								</section>
								</div>
								</section>

					</div>

				{% endblock content %}